header{
    background-color: red;
    height: 20%;
}

.menu{
    background-color: blue;
    width: 100%
}

.milieu{
    background-color: yellow;
    width: 95%;
    height: 50%;
    margin: 2% 1% 2% 2%
}

#conteneur{
    border: 2px solid #000;
}

footer{
    background-color: green;
    width: 100%;
    height: 20%
}
